<form class="form-horizontal" name="productForm" ng-controller="productEditCtrl as vm">
    <fieldset>
        <legend>Basic Product Information</legend>
        <div class="form-group">
            <label></label>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="txtProductName"
                       id="txtProductName"
                       placeholder="Product Name(required)"
                       ng-model="vm.product.name"
                       required
                       ng-minlength="3"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.txtProductName.$error.required">Product name is required</span>
                <span ng-show="productForm.txtProductName.$error.minlength">Product name min length is 3 chars.</span>
                <span ng-show="productForm.txtProductName.$error.maxlength">Product name max length is 12 chars.</span>
            </span>
        </div>
        <div class="form-group">
            <label></label>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="txttxtProductCode"
                       id="txttxtProductCode"
                       placeholder="Product Code(required)"
                       ng-model="vm.product.code"
                       required
                       ng-minlength="3"
                       ng-maxlength="10" />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.txttxtProductCode.$error.required">Product code is required</span>
                <span ng-show="productForm.txttxtProductCode.$error.minlength">Product code min length is 3 chars.</span>
                <span ng-show="productForm.txttxtProductCode.$error.maxlength">Product code max length is 10 chars.</span>
            </span>
        </div>
        <div class="form-group">
            <label></label>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="txtProductPrice"
                       id="txtProductPrice"
                       placeholder="Product Price(required)"
                       ng-model="vm.product.price"
                       required
                        />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.txtProductPrice.$error.required">Product price is required</span>
                <span ng-show="productForm.txtProductPrice.$error.minlength">Product price min length is 0 .</span>
                <span ng-show="productForm.txtProductPrice.$error.maxlength">Product price max length is 100 </span>
            </span>
        </div>

        <div class="form-control1">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary" 
                            ng-click="vm.submit()"
                            ng-disabled="productForm.$invalid" >Save
                        </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            ng-click="vm.cancel()"
                            >Cancel

                    </button>
                </span>
            </div>
        </div>

    </fieldset>
    {{vm.message}}
   
</form>